build/classes/
build/classes/*.*
build/classes/main/Inscrito.class
build/classes/main/Leitor.class
build/classes/main/*.class
build/classes/main/HTMLSource.class
build/classes/main/Leitor.class
.classpath
/.classpath
.project
.mymetadata
.settings/
.externalToolBuilders/
target/
.myeclipse/
.DS_Store
bin
Thumbs.db
inscritos.html
