.classpath
/.classpath
.project
.mymetadata
.settings/
.externalToolBuilders/
WebRoot/WEB-INF/classes/
target/
.myeclipse/
.DS_Store
bin
Thumbs.db
.gradle/
build/
lib/bundle/
*.jasper
!/WebRoot/WEB-INF/reports/financeiro/subReportDeFormaDePagamento.jasper
.vagrant/

WebRoot/js/.idea/
WebRoot/js/node_modules/
WebRoot/js/api/app-api-min.js
WebRoot/js/api/app-api.js
WebRoot/js/api/app-jquery-min.js
WebRoot/js/api/app-jquery.js
WebRoot/js/api/util-min.js
WebRoot/js/calendarioFull/app-calendarioFull-min.js
WebRoot/js/calendarioFull/app-calendarioFull.js
WebRoot/js/ext/app-ext-min.js
WebRoot/js/ext/app-ext.js
WebRoot/js/itcVertebral-min.js
WebRoot/js/app-fisioterapeuta-min.js
WebRoot/js/app-fisioterapeuta.js
WebRoot/js/app-paciente-agenda-min.js
WebRoot/js/app-paciente-agenda.js
WebRoot/js/app-paciente-min.js
WebRoot/js/app-paciente.js
WebRoot/js/franquia-min.js
WebRoot/js/localidade-min.js
WebRoot/js/perfil-min.js
WebRoot/js/prontuario-min.js
WebRoot/js/questionario-min.js
WebRoot/js/app-prontuario.js
WebRoot/js/app-prontuario-min.js
WebRoot/js/app-rpg.js
WebRoot/js/app-rpg-min.js
WebRoot/js/rpg-min.js
WebRoot/js/helpers-min.js
WebRoot/js/publicidade-min.js
